*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 12rem;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    
}

body{
    height: 100vh;
    overflow: hidden;
}

#logo{
    width: 273px;
    height: auto;
    position: relative;
    left: -10px;
}


#background{
    width: 1790px;
    height: 100vh;
    z-index: 0;
    position: relative;
    left: 173px;
}

ul{
    list-style: none;
    a{
        text-decoration: none;
        font-size: 25px;
        color: #ffa469;
        max-width: 100%;
        font-weight: 900;
        padding-left: 10px;
        border-left: 3px solid #f2b284;
    }
}

#sidebar-menor{
    position: fixed;
    width: 263px;
    height: 100vh;
    background-color: rgb(119, 50, 20);
    z-index: 1;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#header-container{
    width: 263px;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#logo{
    margin-block: 45px;
}

li{
    margin-bottom: 100px;
    position: relative;
    left: 43px;
    
}



#sidebar-maior{
    position: fixed;
    width: 273px;
    height: 100vh;
    background-color: rgb(157, 100, 63);
    z-index: 8;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#lo{
    position: relative;
    bottom: -3px;
}

#fundo-texto{
    position: relative;
   color: rgb(0, 0, 0); 
   z-index: 9;
   padding: 40px;
   
}

p{
    font-size: 22px;
    color: #ffa469;
    z-index: 10;
    position: relative;
    left: 486px;
    bottom: 700px;
    padding-inline: 45px;
    padding-block: 40px;
    background-color: rgb(5, 2, 0, 0.5);
    border-radius: 25px;
    width: 1100px;
    text-align:center;
}

h1{
    position: relative;
    bottom: 686px;
    left: 816px;
    z-index: 10;
    font-size: 120px;
    font-family: "Fjord One", serif;
    color: #ffa469;
}

